extends ../layout/main.pug
block content
    section.main
        .container
            include ../modules/news.pug
            include ../modules/interview.pug
            include ../modules/menu.pug
            
