
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title Департамент соціальної та молодіжної політики
		meta(name="viewport" content="width=device-width,initial-scale=1")
		link(rel="stylesheet" href="/style/fancybox.min.css")
		link(rel="stylesheet" type='text/css' href="/style/main.css")
		link(rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon")
		link(rel="icon" href="/img/favicon.ico" type="image/x-icon")
		script(src="/js/jquery.js" defer)
		script(src="/js/jquery.fancybox.min.js" defer)
		script(src="/js/main.js" defer)

	body
		include ../modules/header.pug
		block content
			