header
    .container
        .header-top
            .header-left
                a(href="/").header-emblem-link
                    img.header-emblem(src="../img/general/emblem.png", alt="Emblem")
                .header-title
                    h1.header-title__text Соціальна та молодіжна політика на Вінниччині
                    span.header-title__subtitle Офіційний сайт
            .header-right
                img.header-emblem(src="../img/general/vinnytsaEmblem.png")
                .header-info
                    span.header-info__position Директор департманту
                    span.header-info__depart соціальної та молодіжної політики облдержадміністрації 
                    h2.header-info__name Наталя Михайлівна Заболотна
    .header-bottom
        .container 
            .header-contact
                img(src="../img/general/Zabolotna.png", alt="").header-photo
                ul.header-contact__list
                    li.header-contact__item Адреса: 
                        a.href(href="https://www.google.com/maps/place/%D0%9A%D0%BD%D0%B8%D0%B6%D0%BA%D0%B0,+%D0%A5%D0%BC%D0%B5%D0%BB%D1%8C%D0%BD%D0%B8%D1%86%D0%BA%D0%BE%D0%B5+%D1%88.,+7,+%D0%92%D0%B8%D0%BD%D0%BD%D0%B8%D1%86%D0%B0,+%D0%92%D0%B8%D0%BD%D0%BD%D0%B8%D1%86%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+21000/@49.2321217,28.4480443,17z/data=!3m1!4b1!4m5!3m4!1s0x472d5c810cd05549:0xf2a4d399790fcdd6!8m2!3d49.2321217!4d28.450233" target="_blank").header-contact__link вул. Хмельницьке шосе, 7. м. Вінниця. 
                    li.header-contact__item 21036
                    li.header-contact__item Телефон: приймальня 
                        a.href(href="tel:61-16-36").header-contact__link 61-16-36
                    li.header-contact__item Е-mail: 
                        a.href(href="mailto:dsmp@vin.gov.ua").header-contact__link dsmp@vin.gov.ua

