.nav-wrap
    nav.main-nav.nav
        ul.nav__list
            li.nav__item--sub.nav__item 
                span Сім’ям з дітьми
                img(src="/img/general/arrow-down.svg", alt="").arrow-img
            ul.nav__sub
                li.nav__sub-item
                    a.nav__sub-link(href="/default") Муніципальна няня
                li.nav__sub-item
                    a.nav__sub-link(href="/default") Пакунок малюка
                li.nav__sub-item
                    a.nav__sub-link(href="/default") Оздоровлення дітей
                li.nav__sub-item
                    a.nav__sub-link(href="/default") Реабілітація дітей з інвалідністю
                li.nav__sub-item
                    a.nav__sub-link(href="/default") Почесне звання Мати-героїня
                li.nav__sub-item
                    a.nav__sub-link(href="/default") Підтримка багатодітним сім’ям
            li.nav__item--sub.nav__item 
                span Субсидії і пільги
                img(src="/img/general/arrow-down.svg", alt="").arrow-img
            ul.nav__sub
                li.nav__sub-item
                    a.nav__sub-link(href="/default") Субсидії на комунальні послуги
                li.nav__sub-item
                    a.nav__sub-link(href="/default") Субсидії на тверде паливо і скраплений газ
                li.nav__sub-item
                    a.nav__sub-link(href="/default") Пільги на комунальні послуги
            li.nav__item
                a.nav__link(href="/default") Забезпечення транспортними засобами
            li.nav__item
                a.nav__link(href="/default") Технічні засоби реабілітації для людей з інвалідністю
            li.nav__item--sub.nav__item 
                span Поселення до обласних комунальних закладів
                img(src="/img/general/arrow-down.svg", alt="").arrow-img
            ul.nav__sub
                li.nav__sub-item
                    a.nav__sub-link(href="/default") Поселення до геріатричного будинку-інтернату
                li.nav__sub-item
                    a.nav__sub-link(href="/default") Поселення до психоневрологічного будинку-інтернату
            li.nav__item--sub.nav__item 
                span Ветеранам війни та учасникам ООС/АТО
                img(src="/img/general/arrow-down.svg", alt="").arrow-img
            ul.nav__sub
                li.nav__sub-item
                    a.nav__sub-link(href="/default") Виплата сім’ям загиблих та пораненим учасникам АТО/ООС
                li.nav__sub-item
                    a.nav__sub-link(href="/default") Забезпечення житлом учасників АТО, сімей загиблих та інвалідів 1, 2 групи
                li.nav__sub-item 
                    a.nav__sub-link(href="/default") Психологічна реабілітація учасників АТО/ООС
                li.nav__sub-item
                    a.nav__sub-link(href="/default") Професійна адаптація учасників АТО/ООС
                li.nav__sub-item
                    a.nav__sub-link(href="/default") Компенсація за платне навчання учасникам АТО/ООС та їх дітям
                li.nav__sub-item
                    a.nav__sub-link(href="/default") Санаторно-курортне лікування учасників АТО/ООС
            li.nav__item--sub.nav__item
                span Санаторно-курортне лікування
                img(src="/img/general/arrow-down.svg", alt="").arrow-img
            ul.nav__sub
                li.nav__sub-item
                    a.nav__sub-link(href="/default") Санаторно-курортне лікування для ліквідаторів ЧАЕС
                li.nav__sub-item
                    a.nav__sub-link(href="/default") Санаторно-курортне лікування для людей з інвалідністю
            li.nav__item--sub.nav__item 
                span Протидія торгівлі людьми
                img(src="/img/general/arrow-down.svg", alt="").arrow-img
            ul.nav__sub
                li.nav__sub-item
                    a.nav__sub-link(href="/default") Надання статусу потерпілого
                li.nav__sub-item
                    a.nav__sub-link(href="/default") Виплата потерпілим від торгівлі людьми
            li.nav__item
                a.nav__link(href="/default") Встановлення статусу мати-героїня	
            li.nav__item
                a.nav__link(href="/default") Робота з ВПО
            li.nav__item
                a.nav__link(href="/default") Рівні права і можливості жінок і чоловіків
            li.nav__item
                a.nav__link(href="/default") Соціальне замовлення
            li.nav__item
                a.nav__link(href="/default") Конкурс проектів для ГО
            li.nav__item
                a.nav__link(href="/default") Альтернативна військовій служба
    nav.second-nav.nav
        ul.nav__list
            li.nav__item
                a.nav__link(href="http://www.vin.gov.ua/dep-smp/struktura-departamentu" target = "_blank") Структура департаменту 
            li.nav__item
                a.nav__link(href="http://www.vin.gov.ua/dep-smp/polozhennia-pro-departament" target = "_blank") Положення про департамент
            li.nav__item
                a.nav__link(href="http://www.vin.gov.ua/dep-smp/hrafik-osobystoho-pryiomu-hromadian" target = "_blank") Графік особистого прийому громадян 
            li.nav__item
                a.nav__link(href="http://www.vin.gov.ua/oblasnyi-tsentr-dopomohy-uchasnykam-ato" target = "_blank") Відділ у справах ветеранів війни та учасників бойових дій
            li.nav__item
                a.nav__link(href="http://www.vin.gov.ua/dep-smp/administratyvni-posluhy" target = "_blank") Адміністративні послуги
            li.nav__item
                a.nav__link(href="http://www.vin.gov.ua/dep-smp/dostup-do-publichnoi-informatsii" target = "_blank") Доступ до публічної інформації
            li.nav__item
                a.nav__link(href="http://www.vin.gov.ua/dep-smp/vidpovidalnist-pochynaietsia-z-mene" target = "_blank") Відповідальність починається з мене
            li.nav__item
                a.nav__link(href="http://www.vin.gov.ua/dep-smp/ochyshchennia-vlady" target = "_blank") Очищення влади
            li.nav__item
                a.nav__link(href="http://www.vin.gov.ua/dep-smp/strukturni-pidrozdily" target = "_blank") Структурні підрозділи
            li.nav__item
                a.nav__link(href="http://www.vin.gov.ua/dep-smp/do-vashoho-vidoma" target = "_blank") До вашого відома
            li.nav__item
                a.nav__link(href="http://www.vin.gov.ua/dep-smp/studentska-rada-vinnychchyny" target = "_blank") Студентська Рада Вінниччини
            li.nav__item
                a.nav__link(href="http://www.vin.gov.ua/dep-smp/natsionalno-patriotychne-vykhovannia" target = "_blank") Національно-патріотичне виховання
            li.nav__item
                a.nav__link(href="http://www.vin.gov.ua/zapobihannia-domashnomu-nasylstvu" target = "_blank") Підтримка сім’ї, запобігання домашньому насильству, забезпечення рівних прав і можливостей жінок та чоловіків, попередження торгівлі людьми